.container-quemsomos {
  display:grid;
  grid-template-columns: 1fr 1fr; 
  gap: 5px; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  align-items: start;
}

.texto-quemsomos {
  font-family: "Lato", sans-serif;
  text-align: justify;
  line-height: 1.8;
  margin-top: -50px;
  padding-bottom: 200px;
  padding-right: 5px;
}

.imagem-quemsomos {
  margin-left: 50px;
  margin-top: -20px;
}


